data/
env_files/*
!env_files/plugin.local.env
!env_files/ffrd.plugin.local.env
.DS_Store

# User-specific config files and caches
.cache/
.gitconfig
.gnupg/
.ssh/
.vscode-server/
.dotnet/
.vscode/

# Plugin folder user-specific files and caches
plugin/.cache/
plugin/.gitconfig
plugin/.gnupg/
plugin/.ssh/

tests/*
!tests/payload/
!tests/ffrd/
tests/data/*
!tests/data/
!tests/data/.gitkeep

seed/*

*.csv
scrap.md

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
